@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

body{
    /* 先套用 Noto Sans TC 這個 思源黑體 */
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    color:#414141;
    background-color: #F5F5F5;
}
a{
    text-decoration: none;
}
img{
    border-radius: 6%;
}

/*nav*/
.navbar{
    background-color: #fff;   
}

.img_logo{
    width:110px;
}

.btn-style-1{
    color: #3c3c3c;
    background-color: #f6e737;
    border-color: #f6e737;
}

.btn-style-1:hover{
    color: #fff;
    background-color: #e4462f;
    border-color: #e4462f;
}

.btn-style-2{
    color: #3c3c3c;
    border-color: #3c3c3c;
}

.btn-style-2:hover{
    background-color: #f6e737;
    border-color: #fff;
}

.btn-style-2:hover{
    background-color: #f6e737;
    border-color: #fff;
}

.btn-style-2:hover i{
    color: #e4462f;
}

.btn-style-3{
    font-size: 14px;
    color: #ffffff;
    background-color: #777777;
    border-color: #777777;
}

.btn-style-3:hover{
    color: #e4462f;
    background-color: #f6e737;
    border-color: #f6e737;
}

.input01{
    background-color: #fafafa;
    border: 0;
}

.input01:focus{
    background-color: #fafafa;
}

.forget a{
    color:#414141;
    font-size: 14px;
}

.forget a:hover{
    color:#414141;
}

.h-100p {
    height: 100px;
}

.h-50p {
    height: 50px;
}

.text-orange{
    color: #e4462f;
}

/*top-content*/
.mini_text{
    font-size: 12px;
    color: #fff;
    padding-bottom:2px;
}

.mini_text02{
    font-size: 12px;
    color: #474747;
    padding-bottom:2px;
    background-color: #d8d8d8;
}

.tag i{
    font-size: 24px;
    color:#f6e737;
    margin-right:20px;
    cursor: pointer;
}

.tooltip-inner{
    color:#f6e737;
    background-color: #3c3c3c;
    font-size: 14px;
}

.btn_share{
    width:48%;
}

.btn_share i{
    margin-right: 6px;
}

.modal-header{
    border-top: 5px solid #f6e737;
    border-bottom: 0;
}

/*content_nav*/
.content_nav{
    border-top:1px solid #d8d8d8;
    border-bottom:1px solid #d8d8d8;
    background-color: #fff;
}

.content_nav .nav-link{
    background-color: #fff;
    border: 0px solid #f6e737;
    color:#414141;
}

.content_nav .nav-link:hover{
    color:#6d6d6d;
}

.content_nav .nav-link:focus{
    color:#414141;
    font-weight: 600;
    border-bottom: 2px solid #f6e737;
}

/*content*/
h4{
    border-left:5px solid #f6e737;
}

#qa .accordion-button, #qa .accordion-body{
    background-color:#F5F5F5;
    color:#414141;
}

#qa .accordion-item:not(:first-of-type), .border01{
    border: 1px solid rgba(0,0,0,.125);
}

#qa .accordion-item:not(:first-of-type), .border02{
    border: 1px solid rgba(0,0,0,.125);
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
}

#news img{
    border-radius: 0;
}

#news p, #message .user_date, .content_right_01{
    color: #7c7c7c;
}

#message .feedback{
    width:98%;
    background-color: #e4e4e4;
}

.sponsor_img{
    border: 3px solid #f6e737;
    border-radius: 50%;
}

.plan_img{
    border-radius: 0;
    border-top-left-radius:14px;
    border-top-right-radius:14px;
}

